.attributes
.itemlog
.itemlog_temp
.learned
.mozart.plr
.roomdescheader
.roomnameheader
.roomterrainheader
.score
.tinlog
colorpalette.tin
item_room.vnm
beta/*
char-sheet/*

terrain.old
box
backup/*
chat.box
boxfil
.mozart.mod.swp
rangerdruid.txt
test.mod
tt++_beta
alrin.db
telsak.db
fil.txt
*.swp
